{% include 'header.html' %}

<div class="container mt-5">
    <h1 class="mb-4">Edit Contact</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ contact.Name }}" required>
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="number" name="number" value="{{ contact.Number }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ contact.email_id }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Current Image</label>
            <div>
                <img src="{{ url_for('static', filename='assets/img/Contact/' ~ contact.picture) }}" alt="Current Event Image" class="img-fluid rounded" style="max-height: 200px;">
            </div>
        </div>

        <div class="mb-3">
            <label for="picture" class="form-label">Update Picture</label>
            <input type="file" class="form-control" id="picture" name="picture" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
<div class="pb-5"></div>
{% include 'footer.html' %}
    