{% include 'header.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Gallery Albums</h2>
    <div class="row">
        {% for album in albums %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{{ url_for('gallery.gallery_detail', album_id=album.id) }}">
                    {% if album.images|length > 0 %}
                      <img src="{{ url_for('static', filename='assets/img/Gallery/' ~ album.images[0].image_url) }}" class="card-img-top img-fluid" alt="{{ album.title }}">
                    {% else %}
                      <img src="{{ url_for('static', filename='assets/img/placeholder.jpg') }}" class="card-img-top img-fluid" alt="No image available">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ album.title }}</h5>
                    {% if current_user.is_authenticated and current_user.id == 1 %}
                    <div>
                        <a href="{{ url_for('gallery.edit_gallery', album_id=album.id) }}" class="btn btn-sm btn-warning">Edit</a>
                        <form action="{{ url_for('gallery.delete_gallery', album_id=album.id) }}" method="POST" style="display: inline;">
                             <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this album?');">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% include 'footer.html' %}
